pipeline/FilterPipe.json
{
	"name": "FilterPipe",
	"properties": {
		"activities": [
			{
				"name": "FilterArray",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ListofArrays",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEacheg",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterArray').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copypipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "data_copy",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ListofArrays": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-11T11:31:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}