pipeline/Untilpipeline.json
{
	"name": "Untilpipeline",
	"properties": {
		"activities": [
			{
				"name": "UntilDemo",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('FileAvailable'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "blobdata",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "IfFileexists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(activity('GetFileMetadata').output.exists)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Waitpipe",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 120
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SetFileAvailable",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileAvailable",
											"value": "true"
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"FileAvailable": {
				"type": "String",
				"defaultValue": "false"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-11T12:12:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}